<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 配置SpringMVC -->
	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置： 
		(1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter 
		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 
	-->
	<mvc:annotation-driven />
	
	<!-- 2.静态资源默认servlet配置
		(1)加入对静态资源的处理：js,gif,png
		(2)允许使用"/"做整体映射
	 -->


	 <!-- 4.扫描web相关的bean -->
	 <context:component-scan base-package="com.ssm.controller" />

	<!--5 静态资源-->

	<mvc:resources location="/WEB-INF/css/" mapping="/css/*"/>
	<mvc:resources location="/WEB-INF/js/" mapping="/js/*"/>
	<mvc:resources location="/WEB-INF/img/" mapping="/img/*"/>

	<mvc:resources location="/WEB-INF/scripts/main/" mapping="/scripts/main/*"/>
	<mvc:resources location="/WEB-INF/scripts/main/base/" mapping="/scripts/main/base/*"/>
	<mvc:resources location="/WEB-INF/scripts/main/component/" mapping="/scripts/main/component/*"/>
	<mvc:resources location="/WEB-INF/scripts/main/site/" mapping="/scripts/main/site/*"/>
	<mvc:resources location="/WEB-INF/scripts/main/util/" mapping="/scripts/main/util/*"/>

	<!--vm模板-->
	<!-- 视图模式配置,velocity配置文件-->
	<bean id="velocityConfigurer"
		  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- 模板位置，即vm(html)文件的位置 -->
		<property name="resourceLoaderPath" value="WEB-INF/templates"></property>
		<property name="configLocation">
			<value>classpath:velocity.properties</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="directive.foreach.counter.name">loopCounter</prop>
				<prop key="directive.foreach.counter.initial.value">0</prop>
				<prop key="input.encoding">UTF-8</prop><!-- 指定模板引擎进行模板处理的编码 -->
				<prop key="output.encoding">UTF-8</prop><!-- 指定输出流的编码 -->
			</props>
		</property>
	</bean>

	<!-- 视图解析器 -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<!-- 以什么什么结尾，注意不需要跟jsp的视图解析器一样配置prefix,因为前缀和上面的velocityConfigurer配置的位置是一样的 -->
		<property name="suffix" value=".html"></property>
		<!-- 类型 -->
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="dateToolAttribute" value="dateTool" />
		<property name="numberToolAttribute" value="numberTool" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
	</bean>



</beans>